<footer>
  <div class="footer">
      
      <a class="lien" href="https://fr.wikipedia.org/wiki/Cat%C3%A9gorie:Personnage_de_The_Big_Bang_Theory">wikipedia</a>
      <a class="lien" href="https://www.netflix.com/fr/title/70143830">Netflix</a>
     
  </div>
</footer>
</body>
</html>