<%- include('partials/header') %>

<main >
<div class="corp">
<div class="presentation">
  <h1 class="presentation-title">Les Personnages</h1>
  <img class="presentation-img" src="../image/groupe.jpg" alt="photo des personnages de la serie">
  <a class="presentation-button" href="#"></a>
</div>

<section class="container">

 
</section>
</div>
</main>
<%- include('partials/footer') %>